.breed{
    padding: 20px;
    height: 800px;
    text-align: center;
    color: rgb(146, 65, 22);

    img{
        width: 500px;
        border-radius: 10px;
        box-shadow: 7px 7px 7px 1px rgb(146, 65, 22);
    }

    a{
        text-decoration: none;
        color: rgb(146, 65, 22)
    }
}