
.dogCard{
    margin: 15px;
    width: 250px;
    height:500px;
    border-radius: 10%;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px 1px rgb(215, 133, 25);
    opacity: 0.7;
    transition: 0.8s;

    .dog{color: rgb(146, 65, 22);background-color: antiquewhite;}
    img{
        width: 100%;
        height: 60%;
        border-radius: 12% 12% 0 40%;
    }
    &:hover {
        opacity: 1;
        box-shadow: 8px 8px 8px 1px rgb(215, 133, 25);
    }
}
